
<div class="main_block">
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(username.value, password.value)" class="form">
      <div class="image"><i class='fas fa-users'></i></div>

      <div class="input_form">
        <i class='fas fa-user-alt'></i>
        <input class="input" type="text" placeholder="Username" #username/>
      </div>

      <div class="input_form">
        <i class='fas fa-lock'></i>
        <input class="input" #password type="password" placeholder="Password"/>
      </div>

      <button class="btn">Continue</button>
    </form>
    <p>You don't have account? <a routerLink="/register"><span>Sign up now!</span></a> </p>
  </div>
</div>
